@value lem: 1.25em;

.default {
  font-size: 125%;
  line-height: 1.25;
}

.large1 {
  font-size: 1.333em;
}

.large2 {
  font-size: 1.777em;
}

.large3 {
  font-size: 2.369em;
}

.large4 {
  font-size: 3.157em;
}
