.default {
  composes: default from './fonts.css';
  composes: default from './scale.css';
  composes: default from './colors.css';
}

@value link from './colors.css';
.link {
  color: link;
}

.link-not-styled {
  text-decoration: none;
}

.logo {
  composes: logo from './fonts.css';
  display: inline-flex;
}

.strapline {
  composes: large1 from './scale.css';
  // composes: bold from './fonts.css';
}
