// Font mixins
@mixin font($variant) {
  @if ($variant == 'nimbus-sans-regular') {
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @if ($variant == 'system') {
    font-family: 'system';
    font-style: normal;
    font-weight: 400;
  }
}


// The system font stack
@font-face {
  font-family: system;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
